<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cryp
    link(rel="stylesheet", href="public/table.css")
    
p
  | Há um padrão depois da tradução do criptograma onde a primeira letra das 4 primeiras palavras e a segunda letras das palavaras seguintes formam uma "senha-chave" capaz de resolver o criptograma! PS. Digite a senha em caixa alta
table
  th DICA
  th CRIPTOGRAFIA
  tr
    td Anel metálico ou de madeira para prender ou suspender.
    td
      | .-  .-.  --.  ---  .-..  .-
      input(type='text', name='Tradução', maxlength='6')
  tr
    td Pequena refeição.
    td
      | .-..  .-  -.  -.-.  ...  . .
      input(type='text', name='Tradução', maxlength='6')
  tr
    td Desejo intenso.
    td
      | 
      input(type='text', name='Tradução', maxlength='6')
  tr
    td Quem se prepara para professar (em convento)
    td
      | 
      input(type='text', name='Tradução', maxlength='6')
  tr
    td Ideia de um futuro ideal.
    td
      | ..-  -  ---  .--.  ..  .-
      input(type='text', name='Tradução', maxlength='6')
  tr
    td Causar sofrimento físico ou moral.
    td
      | 
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Enfeite, atavio.
    td
      | 
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Animal de pescoço muito longo.
    td
      | 
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Louco.
    td
      | --  .-  .-..  ..-  -.-.  ---
      input(type='text', name='Tradução', maxlength='8')
  tr
    td É usada para costurar.
    td
      | .-  --.  ..-  .-..  ....  .-
      input(type='text', name='Tradução', maxlength='8')

form(action='/gabarito2', method='POST')
  input(type='text', name='resposta')
  input(type='submit')








    
