<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cryp
    link(rel="stylesheet", href="public/table.css")
    
p
  | Há um padrão depois da tradução do criptograma onde a terceira letra das 6 primeiras palavras e a quarta letras das palavaras seguintes formam uma "senha-chave" capaz de resolver o criptograma! PS. Digite a senha em caixa alta
table
  th DICA
  th CRIPTOGRAFIA
  tr
    td Item utilizado no banho
    td
      | Ɏ ƍ Ɣ ȣ ȡ Ɵ ɏ Ɵ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Viagem turística em navio luxuoso
    td
      | ƛ Ʉ ɕ ɮ Ɵ Ʊ Ʉ ȣ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Está quase sempre acompanhado de uma porca
    td
      | ȹ ƍ Ʉ ƍ Ƣ ɕ Ɏ ȣ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Figura geométrica de quatro lados
    td
      | ɀ ɕ ƍ Ɯ Ʉ ƍ Ɯ ȣ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Acessório que não sai da boca de Popeye
    td
      | ƛ ƍ ƛ ƪ Ʊ Ƿ Ɣ ȣ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Faz barulho ao ser agitado e é adorado por bebês
    td
      | ƛ ƪ ȣ ƛ ƍ Ǥ ƪ ȣ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Inseto vermelho com bolinhas que é simbolo de sorte
    td
      | ƻ ȣ ƍ ȡ Ʊ ȡ ƪ ƍ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Agência internacional de investigação
    td
      | Ʊ ȡ T Ɵ Ʉ ɀ ȣ Ǥ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Sentimento que deixa as pessoas avermelhadas
    td
      | ɝ Ɵ Ʉ G ȣ ȡ ƪ ƍ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Instrumento utilizado por vaqueiro
    td
      | Ɣ Ɵ Ʉ Ʉ ƍ ȡ ɏ Ɵ
      input(type='text', name='Tradução', maxlength='8')
  tr
    td Oferecimento de um imóvel como garantia de pagamento
    td
      | ƪ Ʊ ȹ ȣ ɏ Ɵ ƛ ƍ
      input(type='text', name='Tradução', maxlength='8')

form(action='/gabarito', method='POST')
  input(type='text', name='resposta')
  input(type='submit')








    
